.map-container {
  max-width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  padding-top: 0;
  height: 350px;
  box-shadow: var(--shadow);
  
}

.map-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;  
  margin-bottom: 0;
  bottom: 0;
  border: 0;
}